table, th, td {
border: 1px solid black;
}

th, td {
padding: 10px;
}

body {
    padding: 16px;
}



footer {
    padding: 24px, 24px, 0px, 0px;
}

img {
height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px, 16px, 16px, 16px;
}
